
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>  -->
    <!-- <script src="C:/Users/User/Desktop/udemy/My_projects/use_last_try/Secrets/app.js" charset="utf-8"></script> -->
    <script type="module" src="/app.js" charset="utf-8"></script>
</body>
</html>
